.sushibackground {
  padding-top: 90px;
  min-height: 200px;
  margin-bottom: 0;
  background-image: url('https://ow.roocdn.com/assets/images/campaign-landing-pages/hero/sushi.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.sushibackground h1 {
  font-family: 'Vast Shadow', cursive;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

blockquote {
  border-left: 0;
}
.sushibackground label {
  color: white;
}
.sushibackground img {
  margin-top: 50px;
}
#nav li + li:before {
    content: " | ";
    padding: 0 10px;
}
h1 {
  font-size: 70px;
}
h2 {
  margin-bottom: 1.5em;
}

.img-circle {
    border-radius: 50%;
}
ul {
   padding: 10px;
   background: rgba(0,0,0,0.5);
   text-align: center;
   color: white;
 }
 li {
   display: inline;
   padding: 0px 10px 0px 10px;
 }
.contact{
  background-color: #F58137;
  color: #ffffff;
}
#social-buttons {
  margin-top: 50px;
}
.btn-twitter {
  color: white;
}
.btn-facebook {
  color: white;
}
.btn-pinterest {
  color: white;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: #FFFFFF;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F58137;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
   a {
     color: white;
   }
   img {
     margin: 40px 0px 0px 0px;
     border: 7px solid white;
     border-radius: 20px;
   }
   @media (max-width: 500px) {
     h1 {
       font-size: 36px;
       padding: 5px;
     }
     li {
       padding: 5px;
       display: block;
     }
